@page "/"

<h1>Warehouse Automation</h1>

Please use our warehouse automation for products, orders and Customer handling.
<br />
<br />
<img src="/images/OrderProcess.png" height="300" alt="Order processing image." />

